<!DOCTYPE HTML>
<html lang='en'>
  <head>
    <title><%= yield_content :title %></title>
    <meta charset='utf-8' />
    
    <%# Stylesheets %>
    <link rel='stylesheet' href='/stylesheets/app.css' type="text/css"/>
    <%= yield_content :css %>

    <%# Per-file Stylesheets, if available %>
    <% if params[:name] %>
      <link rel="stylesheet" href="/stylesheets/<%= params[:name] %>.css" type="text/css" />
    <% end %>

    <%# External JavaScripts %>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://modernizr.com/downloads/modernizr.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <section class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Xing Zhou</a>
        <ul class="nav nav-tabs">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/docs">Blogs</a></li>
        </ul>
      </div>
    </section>
    <header class="container-fluid">
      <%= yield_content :header %>
      <h1>Xing Zhou <small>xingz@andrew.cmu.edu</h1>
    </header>

    <section class="container-fluid"> 
      <%= yield %>
    </section>

    <footer class="container-fluid">
      <%= yield_content :footer %>
      <audio id="chillstep" src="http://chillstep.info:1984/listen.ogg" type="audio/ogg" controls loop preload='metadata'>
      </audio>

      <%# Technical References %>
      <section id="tech_ref">
        <p id="main_software">Built on 
          <span><a href="http://www.sinatrarb.com/">Sinatra</a></span>
          <span><a href="http://compass-style.org/">Compass</a></span>
          <span><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></span>
          <span><a href="https://github.com/vmg/redcarpet">Redcarpet</a></span>
        </p>
        <p id="main_hosting">Hosted on <a href="http://www.heroku.com/">Heroku</a></p>
      </section>
    </footer>

    <%# Local Domain JavaScripts %>
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
    <% if params[:name] %>
      <script src="/javascripts/<%=params[:name] %>.js" type="text/javascript" charset="utf-8"></script>
    <% end %>
    <%= yield_content :js %>
  </body>
