<!DOCTYPE HTML>
<html lang='en'>
  <head>
    <title><%= yield_content :title %></title>
    <meta charset='utf-8' />
    
    <%# Stylesheets %>
    <link rel='stylesheet' href='/stylesheets/app.css' type="text/css"/>
    <%= yield_content :css %>

    <%# Per-file Stylesheets, if available %>
    <% if params[:name] %>
      <link rel="stylesheet" href="/stylesheets/<%= params[:name] %>.css" type="text/css" />
    <% end %>

    <%# External JavaScripts %>
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://modernizr.com/downloads/modernizr.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <header>
      <%= yield_content :header %>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <%= yield_content :footer %>
    </footer>

    <%# Local Domain JavaScripts %>
    <script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
    <% if params[:name] %>
      <script src="/javascripts/<%=params[:name] %>.js" type="text/javascript" charset="utf-8"></script>
    <% end %>
    <%= yield_content :js %>
  </body>
